# Build products
build/
.build/

# Package manager files
Package.resolved

# Editor files
.vscode/
*.xcodeproj
*.xcworkspace
.idea/

# Swift Package Manager
.swiftpm/

# Test files
.DS_Store
*.xcuserstate

# Documentation
docs/build/
**/.docc-build/

# Temp files
*.swp
*~
.*.sw*
